body{
  margin: 0;
  padding: 0;
  font-family: sans-serif; 
  width: 100%;
  height: 100%;
  background-color: #f2f3f5;
}
.menu-bar{
  margin: 0 auto;
}
nav{
  height: 100px;
  background: #333333;
}
.logo{
  padding-top: 25px;
  padding-left: 80px;
}
nav ul{
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 30px;
}
nav ul li{
  background: #333333;
  position: relative;
  list-style: none;
  display: inline-block;
  z-index: 200;
}
nav ul li a{
  display:  block;
  padding: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  line-height: 100px;
}
nav ul li a:hover{
  background: #8fc151;

}
nav ul ul{
  position: absolute;
  top: 100px;
  display: none;

}
nav ul li:hover > ul{
  display: block;
}
nav ul ul li{
  height: 70px;
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
  border-bottom: solid 1px white;
}
.Customer-login{
  background-color: #8fc151;
  color: black;
}
nav ul li ul li a{
  font-size: 13px;
  display: block;
  text-align: center;
}
.banner{
  width: 100%;
  height: 300px;
  background-image: url(images/banner.jpg);
  background-size: 1366px 300px;
  text-align: center;
  vertical-align: center;
  color: white;
}
.banner-text{
  padding-top: 1px;
  position: relative;
  top:35%;
  font-size: 20px; 
}
.wrap-dummy-text{
  width: 100%;
  height: 200px;
  margin-top: 100px;
  /*text-align: center;*/
}
.dummy-text{
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.dummy-text>h3{
  font-size: 42px;
}
.dummy-text>p{
  font-size: 18px;
  color: #b3ada8;
}
.wrap-card{
  width: 100%;
}
.content{
  width: 80%;
  margin: 0 auto;
}
.row-1{
  width: 100%;
  height: 210px;
  display: flex;
}
.card-1{
  width: 30%;
  height: 210px;
  margin:0 auto;
  text-align: center;
  box-shadow: -1px 3px 30px rgb(0 0 0 / 8%);
  cursor: pointer;
  display: block;
}
.card-1:hover{
  transform: scale(1.2);
}
.card-1>h3{
  font-size: 20px;
  font-weight: 500;
}
.card-1>a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.card-1>a:hover{
  color:#9dc15b;
  transition: 0.1s;
}
.row-2{
  width: 100%;
  height: 210px;
  display: flex;
  margin-top: 70px;
}
.card-2{
  width: 30%;
  height: 210px;
  margin:0 auto;
  text-align: center;
  box-shadow: -1px 3px 30px rgb(0 0 0 / 8%);
  cursor: pointer;
  display: block;
}
.card-2:hover{
  transform: scale(1.2);
}
.card-2>h3{
  font-size: 20px;
  font-weight: 500;
}
.card-2>a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.card-2>a:hover{
  color:#9dc15b;
  transition: 0.1s;
}
.bottom-banner{
  height: 250px;
  width: 100%;
  background-color: #2d3032;
  margin-top: 80px;
}
.wrap-img{
  width: 70%;
  margin: 0 auto;
  padding-top: 95px;
}
.wrap-img>img{
  width: 100%
}
.footer{
  background-image: url(images/world-map.png);
  height: 451px;
  width: 100%;
  border: solid 1px;
  background-color: black;
  position: relative;
  top:200px;
}
.footer-text{
  color: #ffff;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}